define other Serializers like HYPERION
PM> Install-Package Akka.Serialization.Hyperion -pre

Set up a proxy manually
Another way to set a proxy is to manually enter its IP address and port number. The address of a proxy server is similar to that of any computer on the network, and it could be something like: 192.168.1.211. The port can be any combination of up to four figures. It can be any combination of digits, including 80 or 8080, depending on how its administrator(s) set it.

The IP address and port of your company’s proxy server are given to you by the network administrator or by the company’s IT department. Here’s how to set a proxy manually in Windows 10:
Open Settings.

Click Network & Internet.

The list of network- and Internet-related settings appears.

Click Proxy.

The list of available proxy settings appears.


In the Manual Proxy Setup section, set the Use a Proxy Server switch to On.

In the Address field, type the IP address.

In the Port field, type the port.

Click Save; then close the Settings window.